/* NAVBAR */
.navbar {
  background-color: #2f4050;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.navbar nav a.active {
  background-color: #3b82f6;
}
